<div class="ui-g">

    <div class="ui-g-12 ui-lg-6" align="center">

        <div class="card home">


            <h1>Programmer Pro First Step to the Future</h1>

            <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="false" effect="fade">

            </p-galleria>

  <h1>Programmer Pro Mission</h1>

<table>
  <th></th>
    <th></th>
<tr>
  <td>
  <p>One of the very best things about Git and other distributed version control systems is the ability to create a new repository without asking permission or getting approval. While this has always been true for our public plans, it hasn’t been the case for individuals and teams working together in private. All that changes today.</p>
</td>
<td align="right">
  <p>
وبين أنه جرى خلال الاجتماع مناقشة ورقة عمل أعدها البنك الدولي كمسودة بحضور أصدقاء اليمن من مختلف قارات العالم ، حيث أبدى الجميع ملاحظات قيمة عليها ، سواء فيما يتعلق بالحاجات الآنية، أو فيما يتعلق بحاجات التنمية وإعادة الإعمار.
من جانبه أوضح نائب رئيس البنك الدولي لمنطقة الشرق الأوسط وشمال أفريقيا الدكتور حافظ غانم، أن البنك أعد مسودة عن إعادة إعمار اليمن تناولت الاحتياجات التنموية في اليمن في الفترة المقبلة، مفيدًا أن المسودة تحتوي على ثلاثة محاور وهي الاحتياج إلى تمويل لمعالجة أزمة الأمن الغذائي في اليمن، واحتياجات الموازنة العامة للدولة في اليمن وتحقيق الحماية الاجتماعية فيه، وكذلك إعادة الإعمار والنظر في الأولويات خاصة في مجال التعليم، والصحة، والبنية التحتية.

</p>
</td>
</tr>
</table>




</div>






    </div>
</div>
