
                  <div class="card card-w-title">
                      <h1>User SignUp</h1>
                      <div class="ui-g form-group">
                          <div class="ui-g-12 ui-md-4">
                              <span class="md-inputfield">
                                  <input type="text" pInputText size="40">
                                  <label>First Name</label>
                              </span>
                              <br>
                              <span class="md-inputfield">
                                  <input type="text" pInputText size="40">
                                  <label>Email</label>
                              </span>
                              <br>
                              <span class="md-inputfield">
                                  <input type="text" pInputText size="40">
                                  <label>Address#1</label>
                              </span>
                              <br>
                              <span class="md-inputfield">
                                  <input type="text" pInputText size="40">
                                  <label>city</label>
                              </span>
                          </div>

                          <div class="ui-g form-group">
                              <div class="ui-g-12 ui-md-4">
                                  <span class="md-inputfield">
                                      <input type="text" pInputText size="40">
                                      <label>Last Name</label>
                                  </span>
                                  <br>
                                  <span class="md-inputfield">
                                      <input type="text" pInputText size="40">
                                      <label>Phone</label>
                                  </span>
                                  <br>
                                  <span class="md-inputfield">
                                      <input type="text" pInputText size="40">
                                      <label>Address#2</label>
                                  </span>
                                  <br>
                                  <span class="md-inputfield">
                                      <input type="text" pInputText size="40">
                                      <label>country</label>
                                  </span>
                              </div>

                      </div>
                  </div>
